/* src/pages/HomePage.css */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.search-container {
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  outline: none;
}

.contact-list-item {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.add-button:hover {
  background-color: #45a049;
}

.add-form {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.add-form label {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

.add-form input {
  width: calc(100% - 24px);
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: #f9f9f9;
  color: #333;
  outline: none;
}

.add-form button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.add-form button:hover {
  background-color: #45a049;
}

.contact-list {
  list-style: none;
  padding: 0;
}

.contact-list li {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-list li button {
  background-color: #e74c3c;
  color: white;
  padding: 10px 15px;
  font-size: 14px;
  /* margin: 10px; */
  margin-right: 20px;
  position: relative;
  top: 50%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.contact-list li button:hover {
  background-color: #c0392b;
}
